html
  head
    title fastify site
    link(href="/css/home/main.css", rel="stylesheet")
  body
    include ../../components/menu/index.pug
    h1 #{message}
    p hello #{name}
    if todoItems
      ul.todoItems
        each todoItem in todoItems
          li.todoItems__item
            form.form(method="POST", action=`/api/todos/${todoItem.id}/`)
              .form__left
                input(name="is_done", type="checkbox", checked=todoItem.isDone)
              .form__middle
                input(name="title", type="input", value=todoItem.title)
                textarea(name="description") #{todoItem.description}
              .form__right
                button 保存
    else
      div
        img(src="/images/image.png", alt="")
    script(src="/js/home/main.js")
